/** ДИАЛОГОВОЕ ОКНО **/ 
/** CSS стиль содержимого диалогового окна **/
.ui-dialog, .ui-dialog-content {
    background-color: #2E8B57;
    border: none;
    color: white;
    padding: 3px 3px 3px 3px;
    text-align: center;
    font-size: 22px;
    font-family: arial;
    width: 300px;}
   
/** CSS стиль заголовка диалогового окна **/
.ui-dialog-titlebar {
    font-family: arial;
    font-size: 26px;
    color: #2E8B57;
    background: repeating-linear-gradient(45deg, #C0EBD6, #C0EBD6 10px, #F0FFF0 10px, #F0FFF0 20px);}

/** Убрать верхнюю кнопку **/
.ui-dialog-titlebar-close {
    display: none;
    width:10px;}  
 
/** CSS стиль кнопки **/ 
.ui-dialog button {
    font-size: 24px;
    margin: 0px 0px 10px;
    border: none;
    cursor: pointer;
    height:30px; 
    width: 150px;
    background-color: white;
    color: #2E8B57;}
