<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div>
	  <h1><%= title %></h1>
      <h2>Регистрация пользователя!</h2>
      <form method="POST" action="/registration">
        <span>Введите логин</span><br/>
        <input name="userName" class="edit"></input><br/><br/>
        <span>Введите пароль</span><br/>	
		<input name="PasWord" type="password" class="edit"></input><br/><br/> 
		<button type="submit" class="button">Зарегистрироваться </button><br/> 
		<input value="Повторить ввод пароля" type="button" class="button" onclick="location.href='/'" />
      </form>
    </div> 
  </body> 
</html>