<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css" />
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <h2><%= mess %></h2>
  <p> The username or password you entered is incorrect.</p>
  <input value="Повторить ввод пароля" type="button" class="button" onclick="location.href='/'" />
</body>
</html>